/* .style-module_emptyIcons__Bg-FZ{
    display: flex !important;
    flex-direction: row !important;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}

.style-module_fillIcons__6---A{
    display: flex !important;
    flex-direction: row !important;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
} */
